<!DOCTYPE html>
    <head>    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body ng-app>
        <form>
            <label>Height</label>
            <input ng-model="h" type="text"><br>

            <label>Radius</label>
            <input ng-model="r" type="text"><br>    

            <label>Result</label>
            <label>  <b>Area of trapezoid </b>  = {{ 2*(22/7)*r*h+2*(22/7)*r*r }}  </label>
        </form>
    </body>
</html>

